go 1.22

toolchain go1.22.0

use (
	.

	./codecs/gob
	./codecs/gob/test
	./codecs/hcl
	./codecs/hcl/test
	./codecs/hjson
	./codecs/hjson/test
	./codecs/json
	./codecs/json/test
	./codecs/nestext
	./codecs/nestext/test
	./codecs/toml
	./codecs/toml/test
	./codecs/yaml
	./codecs/yaml/test

	./providers/env
	./providers/file
	./providers/flags
	./providers/fs
	./providers/maps
	./providers/vault

	./examples/consul
	./providers/consul

	./examples/etcd
	./providers/etcd

	./examples/flags
	./examples/simple

	./tests

//../../cmdr-series/libs/evendeep
)
